<a href="https://colab.research.google.com/github/brittabeta/Learning-Sandbox/blob/main/Essential_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Essential Python

1. The random library has a function `random.randint(a, b)` which takes two arguments, a lower integer and a higher integer, it then returns a random integer not lower than the first and not higher than the second. Use this method, with the arguments `(1, 5)` to create a list of 10 random integers. A list comprehension would be a good solution, but not the only one.

In [2]:
import random

numbers = [random.randint(1,5) for x in range(10)]
numbers

[3, 1, 1, 4, 2, 4, 4, 4, 5, 3]

2. Use an if statement to check if the number four is in the list. If it is, use the list `.count(a)` method to count the number of occurances of four, and insert this number into the f-string on the second line.

In [4]:
list = [1,2,3,4,4,5,6,7,8]

if list.count(4):
    print(f"{    list.count(4)   } fours found")
else:
    print("No fours found")

2 fours found

3. Lists have a `sort()` method which will sort the list in place. Use this method to sort the numbers.

In [5]:
numbers.sort()
numbers

[1, 1, 2, 3, 3, 4, 4, 4, 4, 5]

4. Lists have a `reverse()` method which will reverse order. Use this method to reverse the order of numbers.

In [6]:
numbers.reverse()
numbers

[5, 4, 4, 4, 4, 3, 3, 2, 1, 1]

5. Use the star syntax to assign the first item to the variable `a`, the middle items to the variable `b`, and the last item to variable `c`

In [8]:
a, *b, c = 1,2,3,4,4,5
print(a)
print(b)
print(c)

1
[2, 3, 4, 4]
5

6. Cast numbers to a set and assign the result to the variable `unique_numbers`.

In [9]:
unique_numbers = set(numbers)
unique_numbers

{1, 2, 3, 4, 5}

7. Create a dictionary named `number_records` with the keys 'numbers' and 'unique_numbers' and the values `numbers` and `unique_numbers`.

In [11]:
number_records = dict(numbers=numbers,unique_numbers=unique_numbers)
                

number_records

{'numbers': [5, 4, 4, 4, 4, 3, 3, 2, 1, 1], 'unique_numbers': {1, 2, 3, 4, 5}}