<a href="https://colab.research.google.com/github/brittabeta/Learning-Sandbox/blob/main/Selecting_DataFrame_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selecting Data
1. Run the cell below to setup this notebook

In [33]:
import pandas as pd
import numpy as np
import random

num_rows = 100
colors = ['Red', 'Blue', 'Green']

df = pd.DataFrame( {'color': [colors[random.randint(0,2)] for _ in range(num_rows)],
                    'integers': [random.randint(0,15) for _ in range(num_rows)],
                    'floats': [random.random() for _ in range(num_rows)]})
df.head()

   color  integers    floats
0    Red        11  0.749823
1    Red         2  0.323514
2    Red         2  0.272157
3    Red         5  0.803960
4  Green        11  0.409380

2. Create a mask named 'red_mask' with `True` for all rows where the color is equal to 'Red'. Remember that the equals operator is a double equals `==`.

In [34]:
red_mask = df.loc[:,'color'] == 'Red'
red_mask.describe(include=np.object)

<ipython-input-34-506d65d20700>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  red_mask.describe(include=np.object)

count       100
unique        2
top       False
freq         69
Name: color, dtype: object

In [35]:
red_mask.head()

0     True
1     True
2     True
3     True
4    False
Name: color, dtype: bool

3. New create a DataFrame named 'red_df' by using the mask with the data frame `df`. You can use the mask in the simple bracket syntax to filter the DataFrame.

In [36]:
red_df = df[red_mask]

In [37]:
red_df.head()

  color  integers    floats
0   Red        11  0.749823
1   Red         2  0.323514
2   Red         2  0.272157
3   Red         5  0.803960
7   Red         5  0.621647

4. Columns have a method, `.unique()`, which will return all unique values in that column. Call this method on the `red_df.color` to confirm that it only contians 'Red' values.

In [38]:
red_df.color.unique()

array(['Red'], dtype=object)

In [39]:
df.color.unique()

array(['Red', 'Green', 'Blue'], dtype=object)

5. Now use the not operator, `~`, in combination with `red_mask`, to create a new DataFrame named 'no_red'. Simply put `~` in front of the mask to negate it.

In [42]:
mask = df.loc[:,'color'] != 'Red'
no_red = df[mask]
no_red.head()

   color  integers    floats
4  Green        11  0.409380
5  Green         1  0.951089
6   Blue        13  0.290563
8  Green        13  0.954099
9   Blue         9  0.173536

6. Now check the values of `no_red.color` using the `.unique()` method to confirm that there are no 'Red' values.

In [43]:
no_red.color.unique()

array(['Green', 'Blue'], dtype=object)

7. Create a new mask named 'three_mask' for all rows where `integers <= 3`.

In [45]:
three_mask = df.loc[:,'integers'] <= 3
three_df = df[three_mask]
three_df.head()

    color  integers    floats
1     Red         2  0.323514
2     Red         2  0.272157
5   Green         1  0.951089
11    Red         1  0.818262
18   Blue         2  0.026331

In [46]:
three_df.describe()

        integers     floats
count  25.000000  25.000000
mean    1.600000   0.520561
std     1.154701   0.300924
min     0.000000   0.010637
25%     1.000000   0.270324
50%     2.000000   0.543320
75%     3.000000   0.803251
max     3.000000   0.997047

8. Create a new DataFrame named 'mixed_df' containing only rows whose color is 'Red' and whose integer value is equal or less than 3 by using the 'and' operator, `&` between that masks.

In [49]:
mixed_mask = (df.loc[:,'color'] == 'Red') & (df.loc[:,'integers'] <= 3)
mixed_df = df[mixed_mask]

9. Now use `.unique()` to check the values of the 'color' column

In [50]:
mixed_df.color.unique()

array(['Red'], dtype=object)

10. Use `.unique()` to check the values of the 'integer' column, confirming that they are all less than or equal to 3.

In [51]:
mixed_df.integers.unique()

array([2, 1, 0])